<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Rules</title>
</head>
<body>
    <header><h1>Rock Paper Scissors</h1></header>
    <section id="how-to">
        <h2>How to play:</h2>
    </section>
    <section id="how-to-2">
        <ul>
            <li><h3>Player 1, poke Player 2 in the eyes so they can't see your choice. Then poke yourself in the eyes.</h3></li>
            <li><h3>Player 2, fumble around for the keyboard and attempt to write out your choice.</h3></li>
        </ul>
    </section>
    <section>
            <a href="/">Play Game</a>
    </section>
    <div id="logo">
    </div>
</body>
</html>